# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Explicitly do NOT ignore the model weights
!model_weights/
!model_weights/*.pt
